main {
    min-height: 73.4vh;
    align-items: top;
}

table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: #f3f3f3;
}

th,
td {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 12px;
}

th {
    text-align: center;
}
td {
    text-align: left;
}

.todayPaymentsTableSection {
    background-color: #f3f3f3;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
}