<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sale</title>
  <link th:href="@{/css/sale.css}" rel="stylesheet"/>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
</head>
<body onload="populateBrandField('true')">
<nav class="menu">
  <a th:href="@{/home}">HOME</a>
  <a th:href="@{/sale}">SALE</a>
  <a th:href="@{/payment}">PAYMENT</a>
  <a th:href="@{/expense}">EXPENSES</a>
  <a th:href="@{/users}">USERS</a>
  <a th:href="@{/stock}">STOCK</a>
  <a th:href="@{/tdPayment}">TD-PAYMENTS</a>
  <a th:href="@{/tdExpense}">TD-EXPENSES</a>
  <a th:href="@{/reports}">REPORTS</a>
  <a th:href="@{/addStock}">ADD-STOCK</a>
  <a th:href="@{/analytics}">ANALYTICS</a>
  <a th:href="@{/extraLinks}">EXTRA-LINKS</a>
</nav>
<main>
  <div class="userAndProductSection">
    <h2>USER & PRODUCT</h2>
    <form name="validateUserForm">
      <input type="number" name="userId" placeholder="UserId" onchange="validateUserAndGetDetails('sale')"/>
      <textarea name="userDetails" rows="4" cols="50" placeholder="UserDetails"></textarea>
    </form>
    <br/>
    <form name="validateStockForm">
      <select name="brand" onchange="populateItemField('true', 'sale')">
        <option>brand</option>
      </select>
      <select name="item" onchange="populateVariantField('true', 'sale')">
        <option>item</option>
      </select>
      <select name="variant" onchange="validateStockAndGetDetails('sale')">
        <option>variant</option>
      </select>
      <input type="number" id="quantity" name="quantity" placeholder="quantity">
      <input type="number" id="price" name="price" placeholder="price">
      <button type="button" onclick="validateAndAddItemToCart()">ADD TO CART</button>
    </form>
  </div>
  <div class="cartSummarySection">
    <h2>CART SUMMARY</h2>
    <table id="productInCart">
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Variant</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
    </table>
    <br/>
    <div class="text-center">
      <form name="confirmSaleForm">
        <button type="button" name="sale" onclick="confirmSale()">CONFIRM SALE</button>
      </form>
    </div>
  </div>
</main>
<footer>
  <p>&copy; 2024 All rights reserved. Developed by THEJ</p>
</footer>
<script th:src="@{/js/sale.js}" type="text/javascript"></script>
<script th:src="@{/js/user.js}" type="text/javascript"></script>
<script th:src="@{/js/stock.js}" type="text/javascript"></script>
</body>
</html>