<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link th:href="@{/css/users.css}" rel="stylesheet"/>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
</head>
<body onload="createTableWithUsers()">
<header>SREE VIJAYALAKSHMI CATTLE FEEDS</header>
<nav class="menu">
  <a th:href="@{/home}">HOME</a>
  <a th:href="@{/sale}">SALE</a>
  <a th:href="@{/payment}">PAYMENT</a>
  <a th:href="@{/expense}">EXPENSES</a>
  <a th:href="@{/users}">USERS</a>
  <a th:href="@{/stock}">STOCK</a>
  <a th:href="@{/tdPayment}">TD-PAYMENTS</a>
  <a th:href="@{/tdExpense}">TD-EXPENSES</a>
  <a th:href="@{/reports}">REPORTS</a>
  <a th:href="@{/addStock}">ADD-STOCK</a>
  <a th:href="@{/analytics}">ANALYTICS</a>
  <a th:href="@{/extraLinks}">EXTRA-LINKS</a>
</nav>
<main>
  <div class="usersTableSection">
    <h2>ALL USERS</h2>
    <table id="tableWithUsers">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>PhoneNumber</th>
        <th>Balance</th>
        <th>UserType</th>
        <th>GSTIN</th>
      </tr>
    </table>
  </div>
</main>
<footer>
  <p>&copy; 2024 All rights reserved. Developed by THEJ</p>
</footer>
<script th:src="@{/js/user.js}" type="text/javascript"></script>
</body>
</html>